@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-out {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.toast {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 1rem;
    background-color: paleturquoise;
    text-align: center;
}

.toast.show {
    animation: slide-in 0.5s both;
}

.toast.hide {
    animation: slide-out 0.5s both;
}